*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    color: white;
    background-color: #333;
}

.game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 700px;
    height: 700px;
}

.game_case{
    position: relative;
    border: 1px solid #fff;
    cursor: pointer;
}

.game_case:nth-child(1),
.game_case:nth-child(3),
.game_case:nth-child(7),
.game_case:nth-child(9){
    border: none;
}

.game_case:nth-child(2),
.game_case:nth-child(8){
    border-top: none;
    border-bottom: none;
}

.game_case:nth-child(4),
.game_case:nth-child(6){
    border-left: none;
    border-right: none;
}

.game_case:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.restart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
}

.restart button{
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: clamp(1.6rem, 2vw, 3rem);
    font-weight: 900;
    color: white;
    background-color: #333;
}

.display_restart{
    animation: display 0.5s forwards ease-in-out;
}

.message, 
.restart_content{
    font-size: clamp(1.6rem, 2vw, 3rem);
}

@keyframes display {
    to{
        opacity: 1;
        visibility: visible;
    }
}

/*** CROIX ***/
.cross,
.circle{
    position: relative;
}

.cross::before, 
.cross::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 80%;
    background-color: #21988c;
    border: 1px solid #21988c;
}

.cross::before{
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross::after{
    transform: translate(-50%, -50%) rotate(135deg);
}

/*** CERCLE ***/
.circle::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 10px solid #d30f4d;
}

@media screen and (max-width: 700px){
    .game{
        width: 95vw;
        height: 95vw;
    }    
}